:root {
  --yellow: #ffbf50;
  --blue: #5f90ff;
  --red: #691f13;
  --green: #05a368;
  --orange: #fe5f00;
  --purple: #bb7cd2;
  --black: #111111;
  --white: #fffdf9;

  --screen-padding: 3vw;
  --input-border-size: 0.15rem;
}

@font-face {
  font-family: "GT-Wal";
  src: url("../assets/fonts/GT-Wal/GTWal-Bold-Trial.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GT-Wal";
  src: url("../assets/fonts/GT-Wal/GTWal-Medium-Trial.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT-Wal";
  src: url("../assets/fonts/GT-Wal/GTWal-Regular-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT-Wal";
  src: url("../assets/fonts/GT-Wal/GTWal-Light-Trial.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GT-Wal";
  src: url("../assets/fonts/GT-Wal/GTWal-LightOblique-Trial.woff2")
    format("woff2");
  font-weight: 300;
  font-style: oblique;
}

body {
  font-family: GT-Wal, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--white);
}

canvas {
  margin: 5% auto;
  display: block;
  width: 50%;
}

.highlightText {
  padding: 0.3rem 0.5rem;
}

.blueBg {
  background-color: var(--blue);
}

.greenBg {
  background-color: var(--green);
}

.firstTitle {
  text-align: flex-start;
  font-size: 4.9rem;
  font-weight: 500;
  margin: 0 auto;
  width: 60%;
  line-height: 1;
}

.headerBold {
  font-weight: 800;
}

.bottomTitle {
  font-weight: 400;
}

.page1Wrapper {
  margin-top: 6rem;
}

.installationBody {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bottomTitle {
  display: block;
}

.scan {
  text-align: center;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.bold {
  font-weight: 700;
}

/* compomnents */
.button {
  background-color: var(--green);
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.8em;
  color: var(--black);
  text-decoration: none;
  border: none;
  display: block;
  text-align: center;
}

.button--back {
  background: none;
  border: 0.2em solid var(--green);
  padding: calc(0.8em - 0.2em) 0.8em;
}
